# Detta är bara en mall för att visa vilka variabler som behövs i .env-filen. Skapa en .env.local-fil i samma katalog och fyll i dina värden.
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ILOG_BASE_URL=
ILOG_USERNAME=
ILOG_TRANSPORTER_NUMBER=
ILOG_PASSWORD=