# Node modules
node_modules/
web/node_modules/
ml-backend/node_modules/

# Loggfiler
*.log

# Miljövariabler
.env
web/.env
ml-backend/.env

# Next.js build
web/.next
web/out

# Vercel och OS filer
.vercel/
.DS_Store
