@import "tailwindcss";

:root {
  --bg: #EEEEEE;
  --text-heading: #000000;
  --text-primary: #000000;
  --text-secondary: #111111;
  --primary-element: #ffffff;
  --secondary-element: #F2F2F2;
  --button-submit: #22c55e;
  --button-submit-hover: #5ad489;
  --button-fetch: #25a3dd;
  --button-fetch-hover: #64aef3;
  --button-reset: #575757;
  --button-reset-hover: #c2c2c2;
  --disabled-button: #7a7a7a;
  --text-hover: #EEEEEE;
  --border-primary: #252525;
  --navbar: #FFFFFF;
  --card-titel: #5e5e5e;
  --error: #FF0000;
  --notification-color: #a9dba9;
  --primary-color: #22a122;
  --primary-color-background: #78d378;
  --seperating-gray: #dfdfdf;
  --input-text: #b8b8b8;
  --hover-areas: #f8f8f8;
}

html[data-theme="dark"] {
  --bg: #212121;
  --text-heading: #ffffff;
  --text-primary: #FFFFFF;
  --text-secondary: #CCCCCC;
  --primary-element: #121212;
  --secondary-element: #202020;
  --button-submit: #22c55e;
  --button-submit-hover: #0cf762;
  --button-fetch: #3b82f6;
  --button-fetch-hover: #1068f5;
  --button-reset: #686868;
  --button-reset-hover: #979797;
  --disabled-button: #7a7a7a;
  --text-hover: #181818;
  --border-primary: #111111;
  --navbar: #121212;
  --card-titel: #111111;
  --error: #FF0000;
  --notification-color: #69ad69;
  --primary-color: #1d5f1d;
  --primary-color-background: #78d378;
  --seperating-gray: #383838;
  --input-text: #373a39;
  --hover-areas: #353535;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
